
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');


/* information that will give a idea to a user that whne they click on the images they will have one minute timer */
#info{

  background-color:rgb(255, 0, 0);
  color :rgb(95, 47, 47);
  text-align: center;
  width: 300px;
  border: 5px solid rgb(255, 255, 255);
  position:absolute;
  top:35%;
  left:40%;
  margin-top:-100px; /* this is half the height of your div*/  
  margin-left:-100px; /*this is half of width of your div*/
  
}
/* #clickontheimg{

  color: red


} */

/* MAIN PAGE FUNCTION */
#main_page{
  background-color: rgb(214, 202, 202);
  background-image: url('/media/hollywood.jpg' ) ;

  

}
/* there will be all four functions that are only for BGROUND COLOR  */ 

#secondbgcolor{
  background-color:rgb(207, 200, 200);
  text-align: center;
  font-family: Rampart One;
  background-image: url('/media/chrisbg1.jpeg' ) ;
  color: rgb(2, 120, 255);

}

#thirdbgcolor{
  background-color: grey;
  text-align: center;
  background-image: url('/media/valbg.png' ) ;
  


}
#fourthbgcolor{
  background-color: khaki;
  text-align: center;
  font-family: Rampart One;
  background-image: url('/media/hilary-swankbg.png' ) ;
} 
#bg_page_5{
  background-color:green;
  text-align: center;
  font-family: Rampart One;
  background-image: url('/media/georgebg.jpeg' ) ;
}

#story_1_family{
  
  font-family: IBM Plex Sans;
  font-size:xx-large;


}
#thirdbgcolor{
  font-size:xx-large;
  font-family: Rampart One;

}
#story3textfont{
  font-size:xx-large;
  color :white;
  font-family: IBM Plex Sans;

}
#fourthbgcolor{

  font-family: Rampart One;


}
#story4textfont{
  font-family: IBM Plex Sans;
  font-size: larger;
}
#bg_page_5{

    font-family: Rampart One;
}
#story5textfont{
  font-family: IBM Plex Sans;

}
/* ----------------------------------- */



/* ------------------------------------------ */
/* images that are below are the images that user will see on the front page */
/* we want images on the crnors and the info box around will be surunded by the iamges */
#image1{
float: left;
margin: 100;
  /* background-color: aquamarine; */



}
#image2{
  /* top:50%;
  right:100%; */
  float: right;
  margin: 100;



}
#image3{
  clear: right;
  float: left;
  margin: -1000;



}
#image4{
  clear: left;
  float: right;
  margin: -100;



}
/* ------------------------------------------------- */



/* below are the questions pages that */
/* 
#timer_send_user_to_next_page{
  background-color:white;
  margin-left: 45%;

  border: 10px solid transparent; 
  border-top-color: black; 
  box-sizing: border-box; 
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0; */
  /* display: inline-block;
  width: 50px;
  border: 1px solid #000;
  text-align: center; */

 
/* } */ 


#timer_1{
  /* color: red; */
  
  display:inline;
  width: 100x;
  border: 10px solid rgb(161, 149, 153);
  text-align: center;

}

/* -------------------------------------- */
/* queston page BGROUND COLOR  */
#Q_page_1{
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
  /* background-image: url('/media/questions.png' ) ; */
  margin: auto;
  padding: auto;
  width: 1370px;

  height: auto;
  border: 25px solid gray;



}
#Question_for_Chris_1{
 
 margin: auto;
 width: 1000px; 
  height: 200px; 
  border: 10px solid rgb(42, 196, 188);


}
#Question_for_Chris_2{
  /* padding: 100px; */
   margin: auto;
   width: 900px; 
   height: 200px; 
   border: 10px solid rgb(212, 87, 56);

}
#Question_for_Chris_3{
  margin: auto;
  width: 800px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);


}
/* ------------------------------------ */
/*questin stot  */
#Q_page_2{
  text-align: center;
  color: rgb(140, 0, 255);

  /* background-image: url('/media/questions.png' ) ; */
  margin: auto;
  padding: auto;
  width: 1370px;

  height: auto;
  border: 25px solid rgb(44, 180, 117);
  

}
#Q_Val_Kilmer_1{
  margin: auto;
  width: 1000px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);

}
#Q_Val_Kilmer_2{
  margin: auto;
  width: 900px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}
#Q_Val_Kilmer_3{
  margin: auto;
  width: 800px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}

/* ------------------------------------------------- */
/* page 3 story 3 bg and borads */
#q_page_Hilary_swank_3{

  text-align: center;
/* for some resone the quesitns page 3 bg is not chnging */
  background-image: url('/media/questions.jpeg' ) ;
  margin: auto;
  padding: auto;
  width: 1370px;
  height: auto;
  border: 25px solid rgb(40, 163, 201);

}
#Question_swank_1{
  margin: auto;
  width: 1000px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}

#Question_swank_2{
  
  margin: auto;
  width: 900px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}
#Question_swank_3{
  margin: auto;
  width: 800px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
  
}
/* ------------------------------------------- */
/* story 4 page 4 bg and border */
#q_for_Brad{
  text-align: center;
  color: rgb(140, 0, 255);
  background-color: rgb(0, 0, 0);
  /* background-image: url('/media/questions.png' ) ; */
  /* margin: auto; */
  padding: auto;
  width: auto;
  height: auto;
  border: 25px solid gray; 
}
#Question_brad_1{
  margin: auto;
  width: 1000px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}
#Question_brad_2{
  margin: auto;
  width: 900px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}
#Question_brad_3{
  margin: auto;
  width: 800px; 
  height: 200px; 
  border: 10px solid rgb(46, 131, 131);
}
/* ---------------------------------------------- */


/* below is a aimation of the story text  */
/* all of the text that are moveing and the ids that are give we 
caliing them below */
#story_text{
  animation-duration: 3s;
  animation-name: slidein;
}




@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100;
  }

  25% {
    /* font-size: 300%; */
    margin-left: 300;
    width: 200;
  }

  to {
    /* margin-left: 70%; */
    width: 100%;
  }
}
/* --------------------------- */
/* 2 page text animation */
#thirdbgcolor{

    animation-duration: 3s;
    animation-name: slidein;

}@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100;
  }

  25% {
    /* font-size: 300%; */
    margin-left: 300;
    width: 200;
  }

  to {
    /* margin-left: 70%; */
    width: 100%;
  }
}
/* --------------------------- */
/* 3 page text animation */
#fourthbgcolor{

  animation-duration: 3s;
  animation-name: slidein;

}@keyframes slidein {
from {
  margin-left: 50%;
  width: 100;
}

25% {
  /* font-size: 300%; */
  margin-left: 300;
  width: 200;
}

to {
  /* margin-left: 70%; */
  width: 100%;
}
}

/* --------------------------- */
/* 4 page text animation */
#bg_page_5{

  animation-duration: 3s;
  animation-name: slidein;

}@keyframes slidein {
from {
  margin-left: 50%;
  width: 100;
}

25% {
  /* font-size: 300%; */
  margin-left: 300;
  width: 200;
}

to {
  /* margin-left: 70%; */
  width: 100%;
}
}

/* -------------------------- */
/*qestions button css */
/* ------------------------------------- */
/* restart page button and the last page */
#text_result{
  color: aqua;
}
#restartbutton{
  color: black;
}
#re{
  background-color: red;
}
/* #coutdown{
background-color:white;
display: inline-flex; 
justify-content: right;
margin:0;
font-size: 50px; 
height: 70px;
width: 200px;

} */